{% extends "indice/index.html" %}

{% block pruebaTemplate %}
                <h1>Mi Plantilla la más vacía</h1>
        
                {% if nombre_largo < 5  %} 
                        <p style="color: red;">{{nombre}}</p> 
                        <p style="color: blue;">{{apellido}}</p> <!--Los encierro entre llaves, para que django no lo tome como un texto sino como valores-->
                {% elif nombre_largo == 5 %}
                        <p style="color: green;">{{nombre}}</p> 
                        <p style="color: green;">{{apellido}}</p>
                {% else %}
                        <p style="color: blue;">{{nombre}}</p> 
                        <p style="color: red;">{{apellido}}</p>
                {% endif %}<!--Indica el final del anidamiento del if-->

                {% for valor  in lista%}
                        <p style="color: red;">{{valor}}</p>
                {% endfor %}
{% endblock pruebaTemplate %}   